.App {
  text-align: center;
  background: white;
  width:100%;
  height:100%
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.App-row{
  margin-top: 25px;
  width:100%;
  height:3em;
  float:left
}

.center{
	position: relative;
	display:inline-block;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%); /* IE 9 */
	-moz-transform: translate(-50%,-50%); /* Firefox */
	-webkit-transform: translate(-50%,-50%); /* Safari 和 Chrome */
	-o-transform: translate(-50%,-50%); 
}
.h_center{
  margin:auto;
  float:none;
}
.hcenter{
	position: relative;
	display:block;
	left:50%;
	transform: translateX(-50%);
	-ms-transform: translateX(-50%); /* IE 9 */
	-moz-transform: translateX(-50%); /* Firefox */
	-webkit-transform: translateX(-50%); /* Safari 和 Chrome */
	-o-transform: translateX(-50%); 
}
.v_center{
  position: relative;
	display: block;
	top:50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%); /* IE 9 */
	-moz-transform: translateY(-50%); /* Firefox */
	-webkit-transform: translateY(-50%); /* Safari 和 Chrome */
	-o-transform: translateY(-50%); /* Opera */
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App_custom_btn{
  width:80%;
  height:3em;
  float:none;
  margin:auto;
  background:#2e76ff;
  border-radius:25px;
}

input::-webkit-input-placeholder { 
    color:    #b5b5b5;
}
input:-moz-placeholder {
    color:    #b5b5b5;
}
input::-moz-placeholder { 
    color:    #b5b5b5;
}
input:-ms-input-placeholder { 
    color:    #b5b5b5; 
}  
.result-example .spe {
  width: 60px;
  height: 60px;
}
.sub-title {
  color: #888;
  font-size: 14px;
  padding: 30px 0 18px 0;
  margin-left: 15px;
}
.am-list-body {
    position: relative;
    background-color: #fff;
    border-top: 0PX;
    border-bottom: 0PX
}
html:not([data-scale]) .am-list-body::before {
    content: '';
    position: absolute;
    background-color: #ddd;
    display: block;
    z-index: 1;
    top: 0;
    right: auto;
    bottom: auto;
    left: 0;
    width: 100%;
    height: 0PX; 
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: scaleY(0.5);
    -ms-transform: scaleY(0.5);
    transform: scaleY(0.5);
}
html:not([data-scale]) .am-list-body::after {
    content: '';
    position: absolute;
    background-color: #ddd;
    display: block;
    z-index: 1;
    top: 0;
    right: auto;
    bottom: auto;
    left: 0;
    width: 100%;
    height: 0PX; 
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: scaleY(0.5);
    -ms-transform: scaleY(0.5);
    transform: scaleY(0.5);
}