.container{
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    margin:10px;
    padding:10px;
    background:white;
    flex-direction: column;
}

.equipImg {
    margin-top: 20px;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
}

.equipDiv {
    margin-top: 20px;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    font-size: 20px;
}

.equipState {
    margin-top: 5px;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    font-size: 14px;
    color: gray;
}

.equipInputDiv{
    margin-top: 20px;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    border: 1px solid #eee;
    height: 30px;
    padding: 10px;
    align-items: center;
    font-size: 20px;
}

.userwallet{
    margin-top: 20px;
    margin-bottom: 20px;
}

.input {
    border-width: 0;
}

.buttonC {
    margin-top: 10px;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
}

.buttonNormal {
    display: flex;
    display: -webkit-flex;
    flex:1;
    justify-content: center;
    align-items: center;
    margin:10px;
    height: 30px;
    font-size: 16px;
    border-radius: 15px;
    border: 1px solid gray;
}

.buttonPressed {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    flex:1;
    align-items: center;
    border: 1px solid #8cc1fa;
    color:#8cc1fa;
    margin:10px;
    height: 30px;
    font-size: 16px;
    border-radius: 15px;
}

.demoTitle:before,
.demoTitle:after {
  border-bottom: none;
}